Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

lst = [4,8,15,16,23,42]
ser = pd.Series(lst)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
import pandas as pd

my_list = [10,20,30,40,50,60,70,80,90,100]
res = pd.Series(my_list)
print(res)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [7]:
import pandas as pd

data = {'name' : ['Alice', 'Bob', 'Claire'],
        'age' : [25,30,27],
        'Gender' : ['female', 'male', 'female']}

df = pd.DataFrame(data)
print(df)

     name  age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

the main difference between a DataFrame and a Series is that a DataFrame is a two-dimensional data structure with multiple columns, while a Series is a one-dimensional data structure with a single column. The DataFrame allows you to work with and manipulate tabular data, while the Series is useful for working with a single variable or column of data.

In [10]:
# Example
import pandas as pd

data = {
    'Name' : ['Ankit', 'Radha', 'Sita'],
    'Age' : [19, 20, 18],
    'Town' : ['Chhapra', 'Patna', 'Ranchi'],
}
print("Dataframe")
df = pd.DataFrame(data)
print(df)

ser_data = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("\nSeries")
ser = pd.Series(ser_data)
print(ser)

Dataframe
    Name  Age     Town
0  Ankit   19  Chhapra
1  Radha   20    Patna
2   Sita   18   Ranchi

Series
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [11]:
# head()
# tail()
# info()
# describe()
# columns
# sort_values

In [13]:
import pandas as pd

data = {'name' : ['Alice', 'Bob', 'Claire'],
        'age' : [25,30,27],
        'Gender' : ['female', 'male', 'female']}

df = pd.DataFrame(data)
print(df)
res1 = df.columns
print("\n")
print(res1)

res2 = df.head(2)
print("\n")
print(res2)

res3 = df.tail(2)
print("\n")
print(res3)

res4 = df.sort_values(by = 'age', ascending = True)
print("\n")
print(res4)

     name  age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female


Index(['name', 'age', 'Gender'], dtype='object')


    name  age  Gender
0  Alice   25  female
1    Bob   30    male


     name  age  Gender
1     Bob   30    male
2  Claire   27  female


     name  age  Gender
0   Alice   25  female
2  Claire   27  female
1     Bob   30    male

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [14]:
# In pandas, both Series and DataFrame are mutable in nature, while Panel is not.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd

name_series = pd.Series(["Ankit", "Ram", "Sita", "Krishna", "Radha"])
age_series = pd.Series([19, 20, 25, 23, 24])
town_series = pd.Series(["Delhi", "Lahore", "Nepal", "Mthura", "Gokul"])

data = {
    'name' : name_series,
    'age' : age_series,
    'town' : town_series
}

df = pd.DataFra